<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/newteam">
    <p>Team Name: <input type="TEXT" name="name"></p>
    <p>Coach: <input type="TEXT" name="coach"></p>
    <p>Point Guard: <input type="TEXT" name="pg"></p>
    <p>Shooting Guard: <input type="TEXT" name="sg"></p>
    <p>Small Forward: <input type="TEXT" name="sf"></p>
    <p>Power Forward: <input type="TEXT" name="pf"></p>
    <p>Center: <input type="TEXT" name="c"></p>
    <input type="submit" id="Submit">
   </form>
 </body>
</html>


