<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
    <p>Team Name: <input type="TEXT" name="teamname"></p>
    <p>Coach: <input type="TEXT" name="coach"></p>
    <p>Point Guard: <input type="TEXT" name="pointguard"></p>
    <p>Shooting Guard: <input type="TEXT" name="shootingguard"></p>
    <p>Small Forward: <input type="TEXT" name="shootingguard"></p>
    <p>Power Forward: <input type="TEXT" name="powerforward"></p>
    <p>Center: <input type="TEXT" name="center"></p>
    <input type="SUBMIT" id="submit">
   </form>
 </body>
</html>


